<div class="main-container">
     <!---headernav-->
    <header class="header-1">
        <div class="branding">
            <a href="javascript://" class="nav-link" routerLink="./home">
                <span class="title">ShoppingQueen</span>
            </a>
        </div>
        <div class="header-actions">
            <a *ngIf = "!isLoggedIn"clrVerticalNavLink routerLink="./login" routerLinkActive="active"> Login </a>
            <a *ngIf = "isLoggedIn" clrVerticalNavLink  (click) = "logout()" routerLinkActive="active"> Logout </a>
        </div>
    </header>

    <div class="content-container">
         <!--Sidenav--->
        <nav class="sidenav" *ngIf = "isLoggedIn">
            <section class="sidenav-content">
                <a clrVerticalNavLink routerLink="./home" routerLinkActive="active"> Home </a>
                <a *ngIf ="isAdministrator" clrVerticalNavLink routerLink="./management" routerLinkActive="active"> Products Management </a>
            </section>
        </nav>
        <!-- content--->
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>